@charset "utf-8";
/* CSS Document */

.underline{
	text-decoration:underline;
}
.dotted{
	border-bottom:1px dotted #000;
}
.dotted_fixwidth{
	display:inline-block;
	width:400px;
	border-bottom:1px dotted #000;
}
.tb_slip{
	border:1px solid #000;
	width:750px;
	border-collapse:collapse;
	margin:auto;
	font-weight:bold;
	
}
.tb_slip tr{
	padding-top:5px;
	padding-bottom:5px;
	line-height:1em;
}
.tb_slip td{
	border-right:1px solid #000;
	padding-left:5px;
}.tb_slip th{
	border-bottom:1px solid #000;
	border-right:1px solid #000;
}
.tr_border_top{
	border-top:1px solid #000;	
}
.tr_border_bottom{
	border-bottom:1px dotted #000;	
}
